body {
    background-color: #f78989;
}

.item-gallery {
    height: 200px;
    width: 400px;
    margin: 20px;
    background-color: #e8be28;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}